* {
    /* border: 1px solid red; */
    font-family: 'Courier New', Courier, monospace
}

a {
    text-decoration: none;
}

body {
    background-color: #10181E;
}

/* ---------- Nav Menu ---------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 230px;
    background-color: #141d24;
    overflow-x: hidden;
    transition: 0.5s;
}

nav * {
    display: block;
}

#Site_Title {
    margin: 20px 10px 30px 10px;
    color: #D5DCE2;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Site_Menu>li {
    margin: 20px 10px 30px -30px;
    font-size: 18px;
}

#Site_Menu a:link, a:visited {
    color: #1095C1;
    background-color: transparent;
    text-decoration: none;
}

#Site_Menu a:hover, a:active {
    color: #D5DCE2;
    background-color: transparent;
    text-decoration: none;
}

#Page_Title {
    margin: 20px 10px 30px 10px;
    color: #D5DCE2;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Page_Desc {
    padding: 10px;
    color: #596B78;
    font-size: 18px;
}

#Page_Toc li {
    margin: 20px 10px 0px -30px;
    font-size: 18px;
}

#Page_Toc a:hover, a:active {
    color: #D5DCE2;
    text-decoration: none;
}

article {
    position: absolute;
    margin-left: 230px;
}

#Card {
    background-color: #17232B;
    margin: 10px;
    float: left;
    width: 220px;
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#Card_Img {
    width: 100%;
}

#Card a {
    text-decoration: none;
    color: #D5DCE2;
}

#Card_Desc {
    padding: 10px;
    text-align: center;
    width: 220px;
}

#Content {
    background-color: coral;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding: 10px;
}

@media (max-width: 768px) {
    nav {
        width: 0px;
    }
    article {
        margin-left: 0px;
    }
    div.gallery {
        width: auto;
    }
}