* {
    border: 1px solid red;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 230px;
    background-color: #141d24;
    overflow-x: hidden;
    transition: 0.5s;
}

article {
    margin-left: 230px; 
    background-color: royalblue;
}

@media (max-width: 768px) {
    nav {
        width: 0px;
    }
    article {
        margin-left: 0px;
    }
}