/* * {
    border: 1px solid red;
} */

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 230px;
    background-color: #141d24;
    overflow-x: hidden;
    transition: 0.5s;
}

article {
    position: absolute;
    margin-left: 230px; 
    background-color: royalblue;
}

div.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 220px;
    align-self: center;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    nav {
        width: 0px;
    }
    article {
        margin-left: 0px;
        
    }
    div.gallery {
        width: auto;
        /* margin: 10 auto;     */
    }
}