<div id="btn" onclick="openNav()">
    <div class="bar1"></div>
    <div class="bar2a"></div>
    <div class="bar2b"></div>
    <div class="bar3"></div>
</div>
<nav id="nav">
    <a href="{{ .Site.BaseURL }}">
        <h1 id="Site_Title">{{ .Site.Title }}</h1>
    </a>
    <ul id="Site_Menu">
        {{ range .Site.Menus.main }}
        <li>
            <a href="{{ .URL }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    <h1 id="Page_Title">{{ .Title }}</h1>
    <p id="Page_Desc">{{ .Description }}</p>
    <ul id="Page_Toc">
        {{ if .IsPage }}
        <!-- ENABLE IF WORDCOUNT > 600 -->
        {{ if and .IsPage (gt .WordCount 600) }}
        <li>
            <a href="{{ .Permalink }}">{{.TableOfContents }}</a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</nav>
