<!DOCTYPE html>
<html lang="en">
    {{- partial "head" . -}}
    <body>
        {{- partial "nav" . -}}
        <article>
            <div id="Content">
                <div class="Card">
                    <a href="#">
                        <img class="Card_Img" src="/images/sample.png" alt="sample image">
                        <div class="Card_Desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, odio?</div>
                    </a>
                </div>
                <div class="Card">
                    <a href="#">
                        <img class="Card_Img" src="/images/sample.png" alt="sample image">
                        <div class="Card_Desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, odio?</div>
                    </a>
                </div>
                <div class="Card">
                    <a href="#">
                        <img class="Card_Img" src="/images/sample.png" alt="sample image">
                        <div class="Card_Desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, odio?</div>
                    </a>
                </div>
                <div class="Card">
                    <a href="#">
                        <img class="Card_Img" src="/images/sample.png" alt="sample image">
                        <div class="Card_Desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, odio?</div>
                    </a>
                </div>
            </div>
        </article>
    </body>
    <script src="/js/ui.js"></script>
</html>
