<div class="tooltip">
    {{ .Get 0 }}
    <span class="tooltiptext">
        <p>
            {{ .Inner }}
        </p>
    </span>
</div>
<style>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted #10181E;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #D5DCE2;
  color: #10181E;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -200px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
